.btn_download {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #0063b8;
  padding: 12px;
  background: #fff;
  border-radius: 4px;

  cursor: pointer;
  border: 1px solid #e1e1e1;
}
