.edge_button {
  padding: 4px;
  background: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  color: #0e0e0e;
  height: 24px;
  border: 2px solid #e1e1e1;
}
