.react_flow__handle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0672cb;
  border: 2px solid #fff;
}

.react_flow__handle_top {
  top: -8px;
}

.react_flow__handle_bottom {
  bottom: -8px;
}
