:root {
  font-family: 'Roboto', sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.react-flow {
  background-color: #fff;
}

/* Remove to show React Flow credits */
.react-flow__attribution {
  display: none;
}

.react-flow__node-customNode {
  width: 235px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #b6b6b6;

  padding: 10px;
  border-radius: 4px;

  outline: none;
  text-align: center;
  background-color: transparent;

  input {
    width: 100%;

    color: #0e0e0e;
    font-size: 12px;
    font-weight: 400;
    text-align: center;

    text-overflow: ellipsis;

    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  &.source {
    background: #0672cb;
    border: 2px solid #0672cb;

    input {
      color: #fff !important;
    }
  }
  &.target {
    border: 2px solid #0672cb;
  }
}

.react-flow .react-flow__edge path,
.react-flow__connectionline path {
  stroke-width: 2;
}

.react-flow__controls-button svg {
  fill: #757575;
}
